@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@200;500;900&family=Rubik+Vinyl&display=swap');

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(./img/bg.jpg) no-repeat center center/cover;
}
marquee {
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color: #fff;
}
span {
    color: gold;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 90vh;
}
.drums {
    transform: scale(1);
    width: 606px;
    height: 442px;
    position: relative;
    top: 110px;
}
.kick {
    width: 200px;
    height: 200px;
    background: url(./img/kick.png) no-repeat center center/cover;
    position: absolute;
    left: 200px;
    bottom: 0;
    z-index: 3;
}
.snare {
    width: 167px;
    height: 96px;
    background: url(./img/snare.png) no-repeat center center/cover;
    position: absolute;
    top: 196px;
    right: 93px;
}
.hi-hat {
    width: 180px;
    height: 410px;
    background: url(./img/Hi-Hat_right.png) no-repeat center center/cover;
    position: absolute;
    right: 49px;
}
.tom1 {
    width: 119px;
    height: 90px;
    background: url(./img/tom_right.png) no-repeat center center/cover;
    position: absolute;
    top: 118px;
    right: 182px;
    z-index: -1;
    transform: rotate(331deg);
}
.tom2 {
    width: 200px;
    height: 150px;
    background: url(./img/tom_left.png) no-repeat center center/cover;
    position: absolute;
    top: 100px;
    left: 126px;
    transform: rotate(15deg);
}
.tom3 {
    width: 224px;
    height: 233px;
    background: url(./img/tom3_prev_ui.png) no-repeat center center/cover;
    position: absolute;
    top: 169px;
    left: 52px;
}
.crash {
    width: 170px;
    height: 412px;
    border-radius: 20px 20px 0 0;
    background: url(./img/Hi-Hat_left.png) no-repeat center center/cover;
    position: absolute;
    top: -46px;
    left: 72px;
    z-index: -1;
    transform: rotateY(213deg);
}
.hit {
    transform: scale(2);
}
audio {
    position: absolute;
    bottom: -70px;
    left: 150px;
}